header {
  // Topbar section
  .topbarSection {
    display: flex;
    background: #353535;
    color: #fff;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: default;
  }

  // Search bar section
  .searchSection {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.08);

    .searchWrapper {
      display: flex;
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
      align-items: center;
      height: 88px;
      justify-content: space-between;

      .menuMobile {
        display: none;
      }

      .headerLogoMobile {
        display: none;
      }

      .searchIconMobile {
        display: none;
      }

      .minicartMobile {
        display: none;
      }

      .menuMobileLeft,
      .menuMobileRight {
        display: flex;
      }

      @media (max-width: 1600px) {
        margin: 0 20px;
      }

      // Header Mobile
      @media (max-width: 980px) {
        .menuMobile {
          display: block;
          margin-right: 20px;
        }

        .headerLogo {
          display: none;
        }

        .headerLogoMobile {
          display: block;

          & img {
            max-width: 110px;
          }
        }

        .searchBar {
          display: none;
        }

        .userSection {
          display: none !important;
        }

        .searchIconMobile {
          display: block;
          margin-right: 40px;
        }

        .minicartMobile {
          display: block;
        }

        .menuSection {
          display: none;
        }
      }

      .searchBar {
        width: 100%;
        max-width: 790px;

        @media (max-width: 1420px) {
          max-width: 570px;
        }

        @media (max-width: 1100px) {
          max-width: 370px;
        }

        .searchBarContainer {
          position: relative;

          input {
            box-sizing: border-box;
            max-width: 790px;
            width: 100%;
            height: 40px;
            background: #efefef;
            border: none;
            border-radius: 10px;
            padding-left: 24px;

            &::placeholder {
              display: flex;
              color: #353535;
              font-weight: 400;
              font-size: 12px;
            }
          }

          button {
            width: 120px;
            height: 100%;
            position: absolute;
            cursor: pointer;
            right: 0;
            background: #faa500;
            border-radius: 8px;
            border: none;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
          }
        }
      }

      .userSection {
        display: flex;
        width: 100%;
        max-width: 422px;
        max-height: 46px;
        justify-content: space-between;
        align-items: center;

        .userWrapper {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            text-decoration: none;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            color: #353535;
            line-height: 20px;
          }

          .userIcon {
            margin-left: 2.8px;
          }

          &:last-child a {
            box-sizing: border-box;
            padding: 12px 14px 12px 17px;
            border-radius: 8px;
            border: 1px solid #faa500;
            height: 46px;
          }
        }
      }
    }
  }

  // Menu
  .menuSection {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.16);

    .menuWrapper {
      max-width: 1220px;
      margin: 0 auto;

      @media (max-width: 1300px) {
        margin: 0 20px;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        .menuItem {
          width: 165px;

          a {
            display: flex;
            align-items: center;
            height: 48px;
            color: #353535;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-decoration: none;

            img {
              margin-right: 9.75px;
            }

            &:hover {
              color: #faa500;
              font-weight: 700;
            }
          }
        }
      }
    }

    @media (max-width: 980px) {
      display: none;
    }
  }
}

main {
  .bannerSection {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    a,
    img {
      @media (max-width: 980px) {
        max-height: 320px;
        max-width: none;
      }
    }
  }
  background: #fafafa;

  .mainContainer {
    @media (max-width: 1600px) {
      margin: 0 20px;
    }
  }

  // Swiper slide
  .customPrev,
  .customNext {
    width: 20px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .customPrev {
    left: 161px;

    @media (max-width: 980px) {
      left: 28px;
    }
  }

  .customNext {
    right: 161px;

    @media (max-width: 980px) {
      right: 28px;
    }
  }

  .swiper-pagination {
    bottom: 24px;
  }

  // Deals
  .dealsSection {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 100%;
    padding-top: 24px;
    margin: 0 auto;
  }

  .dealsTitle {
    font-size: 16px;
    font-weight: 700;
    color: #353535;
    line-height: 24px;
    text-align: center;
    margin-bottom: 21px;
    margin-top: 0;
  }

  .dealsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dealsContainer {
    max-height: 64px;
    display: block;
    box-sizing: border-box;
    margin: 0 7.5px;
    background: #efefef;
    border-radius: 4px;

    @media (min-width: 1600px) {
      min-width: 307px;
    }
  }

  .dealsCard {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;

    p {
      margin: 0;
    }
  }

  .dealsIcon {
    margin-right: 22px;

    img {
      display: block;
    }
  }

  .dealsText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;

    strong {
      font-size: 14px;
      color: #353535;
      line-height: 21px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      color: #000;
      line-height: 18px;
    }
  }

  // Brands
  .brandsSection {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 100%;
    padding-top: 80px;
    margin: 0 auto;
  }

  .brandsTitle {
    font-size: 32px;
    font-weight: 700;
    color: #353535;
    text-align: center;
    margin-bottom: 21px;
    line-height: 49px;
    margin-top: 0;
  }

  .brandsList {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brandsContainer {
    max-height: 64px;
    display: block;
    box-sizing: border-box;
    margin: 0 7.5px;
    border-radius: 4px;

    @media (min-width: 1600px) {
      min-width: 307px;
    }
  }

  .brandsCard {
    box-sizing: border-box;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin: 0;

    p {
      margin: 0;
    }

    a {
      margin: 0;
      max-height: 64px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .brandsIcon {
    margin-right: 22px;

    img {
      display: block;
    }
  }

  .brandsText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;

    strong {
      font-size: 14px;
      color: #353535;
      line-height: 21px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      color: #000;
      line-height: 18px;
    }
  }

  // Showcase
  .showcaseSection {
    padding-top: 80px;
    max-width: 1600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .showcaseTitle {
      margin-top: 0;
      font-size: 32px;
      font-weight: 700;
      color: #353535;
      line-height: 49px;
      text-align: center;
      margin-bottom: 24px;
    }

    .showcaseItem {
      display: flex;
      flex-direction: column;
      margin: 0 7px 5px;

      .product {
        transition: all 0.2s ease-out;
      }

      .productImage {
        a {
          display: inline-block;
          max-width: 100%;

          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }

        @media (max-width: 985px) {
          padding: 0 27px;
        }
      }

      .productMain {
        padding: 0 27px;
        margin-bottom: 8px;

        .productVariants {
          margin-bottom: 8px;

          .variantsList {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 8px -4px;
            list-style: none;
            padding: 0;

            .variantsItem {
              box-sizing: border-box;
              margin: 0 4px;
              width: 27px;
              height: 27px;
              cursor: pointer;

              div {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                border: 1px solid transparent;
                transition: all 0.2s ease-out;

                &:hover {
                  border: 1px solid #353535;
                }
              }

              .yellow {
                background: #deac71;
              }

              .orange {
                background: #d37164;
              }

              .blue {
                background: #6497d3;
              }

              .purple {
                background: #3c3b79;
              }

              .black {
                background: #1c1a19;
              }

              .red {
                background: #d84e4b;
              }

              .beige {
                background: #cfc9b0;
              }

              .gray {
                background: #eae9e5;
              }
            }
          }
        }

        .productPrice {
          font-size: 20px;
          font-weight: 700;
          color: #353535;
          line-height: 30px;
        }

        .productName {
          margin-bottom: 8px;

          .productLink {
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
            text-decoration: none;
            transition: all 0.2s ease-out;

            &:hover {
              color: #faa500;
            }
          }
        }

        .productDescription {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: #000000;
          opacity: 0.5;
          height: 54px;
          text-align: left;
          text-overflow: ellipsis;
          max-width: 100%;
          display: block;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          transition: all 0.2s ease-out;
        }
      }
      .productButton {
        padding: 0 27px 10px;

        button {
          cursor: pointer;
          width: 100%;
          height: 35px;
          border-radius: 4px;
          border: none;
          padding: 0;
          background: #faa500;
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-out;
          font-family: "Titillium Web", sans-serif;

          &:hover {
            background: #353535;
          }
        }
      }
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        transition: all 0.2s ease-out;
      }
    }
  }

  .collectionSection {
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: 65px auto 0;

    .collectionContainer {
      display: flex;
      gap: 14px;
      justify-content: space-between;
      align-items: center;
      max-width: 1600px;
      width: 100%;

      @media (max-width: 980px) {
        flex-direction: column;
      }

      .collectionText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        width: 420px;

        @media (max-width: 980px) {
          width: auto;
        }

        .collectionTitle {
          width: 100%;
          font-size: 24px;
          font-weight: 700;
          color: #000;
          line-height: 37px;
          margin-bottom: 16px;
          text-align: start;
        }
        .collectionDescription {
          font-size: 14px;
          font-weight: 400;
          color: #000000;
          line-height: 22px;
          text-align: left;
        }
      }

      .collectionImage {
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

footer {
  padding-top: 80px;
  background: #fafafa;

  .newsletter {
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;

    .newsletterContainer {
      max-width: 950px;
      margin: 0 auto;
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 980px) {
        flex-direction: column;
        padding: 24px 31px;
        justify-content: center;
      }

      .newsletterTitle {
        font-size: 24px;
        font-weight: 700;
        color: #000000;
        line-height: 38px;
        padding: 0;
        margin: 0;

        @media (max-width: 980px) {
          margin-bottom: 8px;
        }
      }

      .newsletterRightColumn {
        position: relative;
        max-width: 630px;
        width: 100%;

        input {
          box-sizing: border-box;
          width: 100%;
          border-radius: 4px;
          border: 1px solid #353535;
          background: #fff;
          height: 40px;
          padding: 0 24px;
          line-height: 40px;

          &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #353535;
          }
        }
        button {
          width: 130px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: #faa500;
          border-radius: 4px;
          border: none;
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          cursor: pointer;
          transition: all 0.2s ease-out;

          &:hover {
            background: #353535;
          }
        }

        @media (max-width: 980px) {
          display: flex;
          align-items: center;

          input {
            height: 26px !important;
            width: 100%;
            margin-right: 15px;
          }

          button {
            position: static;
            top: auto;
            right: auto;
            min-width: 80px;
            width: auto;
            height: 26px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .footerContainer {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 0 64px;

    .footerRow {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .footerColumn {
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
      }

      .footerTitle {
        font-size: 16px;
        font-weight: 700;
        color: #353535;
        line-height: 18px;
        margin: 0 0 25px;
        padding: 0;
      }

      .footerList {
        list-style: none;
        margin: 0;
        padding: 0;

        .footerLink {
          display: block;
          font-size: 12px;
          font-weight: 400;
          color: #000;
          list-style: none;
          margin: 0;
          padding: 0;
          transition: all 0.2s ease-out;
          text-decoration: none;

          &:not(:last-child) {
            margin-bottom: 24px;
          }

          &:hover {
            color: #faa500;
          }
        }
      }
    }
  }

  .footerBottom {
    background: #353535;
    padding: 20px 0 15px;

    @media (max-width: 1600px) {
      padding: 20px 20px 15px;
    }

    .footerBottomContainer {
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .socialNetworksList {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .socialNetworksLink {
          display: flex;

          &:not(:last-child) {
            margin-right: 22px;
          }

          svg {
            fill: #fff;
            transition: all 0.2s ease-out;
          }

          &:hover {
            svg {
              fill: #faa500;
            }
          }
        }
      }

      .paymentList {
        display: flex;
        justify-content: center;
        align-items: center;

        .paymentItem {
          display: flex;

          &:not(:last-child) {
            margin-right: 22px;
          }
        }
      }

      .copyrightList {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        .copyrightItem {
          &.vtex {
            margin-right: 22px;
          }

          .copyrightTitle {
            font-size: 10px;
            font-weight: 400;
            color: #fff;
            line-height: 17px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
